<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>

    {% comment %} <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form> {% endcomment %}

    <h3>Home page</h3>
    <p>{{id}}</p>
    {% comment %} <p>{{post}}</p> {% endcomment %}
    {% comment %} <p>Name: {{name}}</p>
    <p>Roll: {{roll}}</p>
    <p>Course: {{course}}</p>
    <p>Class: {{cl}}</p> {% endcomment %}

</body>
</html>